@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    color: #fff;
    font-size: 1.0rem;
    font-family: 'Kiwi Maru', serif;
    vertical-align: top;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px 60px;
}
.site-title {
    line-height: 1px;
    width: 200px;
}
.sec-title {
    color: #0027d6;
    font-size: 3.5rem;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'The Nautigal', cursive;
}
/*header*/
#header {
    width: 100%;
    height: 80px;
    background: #63d2e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    z-index: 20;
}
.nav-menu {
    display: flex;
    font-size: 0.875rem;
}
.nav-menu li {
    margin-left: 20px;
}
.nav-menu a {
    display: inline-block;
    color: #fff;
}
.hamburger {
    display: none;
}
#mask {
    display: none;
}
/*main*/
main {
    padding-top: 80px;
    width: 100%;
}
/*mainvisual*/
#mainvisual {
    margin-bottom: 20px;
    width: 100%;
    height: 100vh;
    position: relative;
}
.textarea {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    color: #fff;
    z-index: 5;
    width: 400px;
    margin: 0 auto;
}
.copy {
    margin-bottom: 30px;
}
.textarea p {
    margin-bottom: 50px;
}
.bg {
    z-index: -10;
}
.bg::after {
    position: absolute;
    left: 30%;
    content: '';
    width: 50%;
    height: 100%;
    background: #005592;
    transform: skewX(20deg);
    filter: drop-shadow(2px 2px 10px #777);
}
.bg img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    object-fit: cover;
}
.bg img:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 50vh;
    object-fit: cover;
}
.bg img:nth-child(3) {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70vh;
    object-fit: cover;
}
/*news*/
#news {
    position: relative;
    background: #b9e9f3;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
#news::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: -50px;
    left: 0;
    border-bottom: 50px solid #b9e9f3;
    border-left: 100vw solid transparent;
    filter: drop-shadow(-10px -15px 5px #777);
}
#news::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -50px;
    left: 0;
    border-top: 50px solid #b9e9f3;
    border-right: 100vw solid transparent;
    filter: drop-shadow(10px 15px 5px #777);
}
.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.frame {
    width: 320px;
    height: 320px;
    background: #fff;
    padding: 10px;
}
.sns-head {
    text-align: center;
    font-size: 1.75rem;
    padding: 10px;
}
.facebook .sns-head {
    background: linear-gradient(#1094F4, #005592);
}
.twitter .sns-head  {
    background: linear-gradient( #79c9ff, #1d9bf0);
}
/*about*/
#about {
    text-align: center;
    margin-bottom: 100px;
}
.about-item {
    margin: 0 auto;
    width: 600px;
}
.about-item .item {
    margin-bottom: 50px;
}
.item-title {
    color: #0027d6;
    text-align: center;
    margin-bottom: 30px;
    display: block;
    position: relative;
}
.item-title::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    right: 0;
    left: 0;
    bottom: -10px;
    margin: 0 auto;
    background: linear-gradient( to right, #b9e9f3, #0027d6);
}
.item p {
    color: #333;
    width: 600px;
}
/*staff*/
#staff {
    position: relative;
    background: linear-gradient(#b9e9f3, #005592);
    padding-bottom: 50px;
    margin-bottom: 100px;
}
#staff::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: -50px;
    left: 0;
    border-bottom: 50px solid #b9e9f3;
    border-left: 100vw solid transparent;
    filter: drop-shadow(-10px -15px 5px #777);
}
#staff::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -50px;
    left: 0;
    border-top: 50px solid #005592;
    border-right: 100vw solid transparent;
    filter: drop-shadow(10px 15px 5px #777);
}
.speaker {
    display: flex;
    margin-bottom: 50px;
}
.speaker img {
    width: 30%;
    margin-right: 30px;
}
.speaker-info {
    width: 65%;
}
.job {
    margin-bottom: 20px;
}
.name {
    font-size: 1.5rem;
    color: #0027d6;
    margin-bottom: 20px;
}
.member {
    display: flex;
    justify-content: space-between;
}
.member li {
    width: 22%;
}
.member .name {
    color: #fff;
}
/*schedule*/
#schedule {
    margin-bottom: 100px;
}
#schedule table {
    color: #005592;
    text-align: left;
    width: 600px;
    margin: 0 auto;
}
#schedule tr {
    height: 60px;
}
#schedule .date {
    width: 20%;
}
#schedule .time {
    width: 30%;
}
#schedule .talk {
    width: 50%;
}
#schedule th,td {
    border-bottom: 1px solid #b9e9f3;
}
/*access*/
#access {
    margin-bottom: 70px;
}
.access-content {
    display: flex;
}
.map {
    width: 60%;
}
.map-info {
    width: 40%;
    color: #005592;
}
.map-info p {
    margin-top: 40px;
}
/*footer*/
#footer {
    width: 100%;
    background: #63d2e8;
    padding: 40px 20px 10px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.footer-item {
    width: 30%;
}
.footer-info {
    width: 40%;
}
.footer-info dl {
    display: flex;
    flex-wrap: wrap;
}
.footer-info dt {
    width: 20%;
}
.footer-info dd {
    width: 80%;
}
.footer-info .place {
    margin-left: 20%;
    font-size: 0.875rem;
}
.contact {
    width: 30%;
    text-align: center;
    padding-top: 30px;
}
.btn {
    padding: 10px 30px;
    border: 1px solid #005592;
    color: #005592;
    background: #fff;
    display: inline-block;
    border-radius: 30px;
    transition: all 0.5s;
}
.btn:hover {
    background: #005592;
    color: #fff;
    border-color: #fff;
}
@media screen and (max-width: 640px){
    #header {
        
    }
}